<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <form action="/following" method="post">
 <div class="content">
    <div class="title">
        Welcome Are you Ready
    </div>
           <div class="one">
           <!-- <label for="username">Name</label>    -->
            <input type="text" placeholder="UserId" name="username">
        </div>
        <div class="two">
            <!-- <label for="password">Password</label> -->
            <input type="password" placeholder="password" name="password">
        </div>
        <div class="two">
            <!-- <label for="targetid">Target Acoount</label> -->
            <input type="text" placeholder="TargetId" name="targetid">
        </div>
        <button type="submit">Ok</button>
    </div>    
      </form>
</body>
</html>

 